extends layout

block content
  .row
    .col-lg-4.col-sm-12.card
      h1 70%
      | &nbsp;match
      .pull-right
        h1 3
        | &nbsp;mutual friends
      br
      img.avatar(src=user.image)
      // I'm sorry
      .center
        .btn-group
          button.btn.btn-default(type='button')
            img(src='/img/broken-heart.png')
          button.btn.btn-default(type='button')
            img(src='/img/heart.png')
    .col-lg-8.col-sm-1.bands
      h1 Bands they like
      ul
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
        li
          img(src=user.image)
          .name Godspeed You! Black Emperor
        li
          img(src=user.image)
          .name Grizzly Bear
        li
          img(src=user.image)
          .name Radiohead
        li
          img(src=user.image)
          .name Thee Silver Mt. Zion Memorial Orchestra and Tra-La-La Band with Choir
